@media screen and (min-width: 1024px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
        transition: all .2s ease;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }    
    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-track{
        background: #bfbfbf;
    }
    ::-webkit-scrollbar-track:hover{
        background: #ffffff85;
    }
    ::-webkit-scrollbar-thumb{
        background: rgb(4, 0, 255);
        border-radius: 20px;
    }
    :root{
    /*  ***** Colors *****  */    
        --blue: blue;
        --orange: orangered;
        --green: #29A71A;
        --black: black;
        --white: white;  
    /*  ***** Fonts *****  */    
        --fontam6: clamp(1.6rem, 1.5rem + 3vw, 8rem);
        --fontam5: clamp(1.5rem, 1.1rem + 2.3vw, 4.1rem);
        --fontam4: clamp(1.3rem, 1rem + 2vw, 4rem);
        --fontam3: clamp(1.3rem, 1.25rem + 1.5vw, 3rem);
        --fontam2: clamp(1.2rem, 1.3rem + 1.3vw, 2rem);
        --fontam1: clamp(1rem, 1rem + 1vw, 1.1rem);
    /*  ***** Shadows *****  */    
        --elements-shadows: 5px 5px 5px rgba(0, 0, 0, 0.7);
        --texts-shadows: 5px 5px 5px rgba(0, 0, 0, 0.7);

        --image-comparison-slider-width: min(80vw, 368px);
        --image-comparison-slider-handle-width: 50px;

    } 
    body{background-color: rgba(0, 128, 0, 0);    
    }
/*  ***** HEADER *****  */
    header{background-color: rgba(77, 1, 1, 0);
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90px;
        margin: auto;
        padding: 0 5%;
    }
    header .logo{background-color: rgba(0, 128, 0, 0);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 30%;
        height: 90%;
    }  
    header .logo a {background-color: rgba(0, 0, 255, 0);
        width: 20%;
    }
    header .logo a img{background-color: rgba(255, 255, 0, 0);
        width: 90%;
    }
    header .logo .logo-txt a {background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 90%;
        font-size: .7rem;
        color: var(--white);
    }
    header .logo a span{
        font-size: 1rem;
        color: var(--orange);
    }
    header nav{background-color: rgba(49, 49, 49, 0);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 70%;
        height: 50px;
    }
    header nav a {
        color: white;
        margin-left: 1rem;
    }
    header nav .button{background-color: var(--orange);
        padding: .3rem 2rem;
        border-radius: 5px;
    }
    header nav .button:hover{background-color: rgb(255, 98, 41);
    }
    header .btn{display: none;
    
    }    
/*  ***** MENU STICKY *****  */
    header.sticky{
        height: 70px;
        background: #010977;
        box-shadow: 0px 5px 5px 0px #00000063;
        border-bottom: orangered solid 2px;
        transition: all .2s ease;
    }
/*  **********  MAIN  *********  */
    main{background-color: rgba(255, 0, 0, 0);
    }
/*  **********  SECTION HOME(Topo)  *********  */
    main .home{background-color: rebeccapurple;
        background-image:
        linear-gradient(-45deg, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 77, 0.62) 64%),
        url(../img/bghome_dsktp1.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 100vh;
    }
    main .home .container{background-color: rgba(0, 255, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 85%;
        max-width: 1000px;
        height: 40%;
    }
    main .home .container img{background-color: rgba(165, 42, 42, 0);
        display: none;
    }
    main .home .container .txt{background-color:rgba(25, 0, 255, 0);
        width: 95%;
        text-align: center;
    }
    main .home .container .txt h1{
        font-size: 5.5rem;
        color: var(--white);
        text-shadow: var(--texts-shadows);
    }
    main .home .container .txt h1 span{
        color: var(--orange);
    }
    main .home .container .txt h2{
        font-size: 2rem;
        color: var(--white);
        text-shadow: var(--texts-shadows);
    }
    main .home .container .txt h2 span{
        color: var(--orange);
    }
    main .home .container .txt p{
        margin: 20px 0;
        font-size: 1.3rem;
        color: var(--white);
        font-weight: 100;
        text-shadow: var(--texts-shadows);
    }
    main .home .container .btn-home{background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 95%;
        height: 100%;
    }
    main .home .container .btn-home .btn-talk a{
        background-color: var(--orange);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 50px;
        font-size: 1.5rem;
        color: var(--white);
        border-radius: 5px;
        box-shadow: var(--elements-shadows);
    }
    main .home .container .btn-home .btn-talk a:hover{
        background-color: var(--white);
        color: var(--orange);
        transform: translateY(-3px);
    }
    main .home .container .btn-home .btn-send a{
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 50px;
        font-size: 1.5rem;
        color: var(--orange);
        border-radius: 5px;
        box-shadow: var(--elements-shadows);
    }
    main .home .container .btn-home .btn-send a:hover{
        background-color: var(--orange);
        color: var(--white);
        transform: translateY(-3px);
    }
    
/*  **********  SECTION SERVICES  *********  */
    main .services{background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 70px;
    }
    main .services .container{background: rgba(145, 145, 145, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 97%;
        max-width: 1300px;
        height: 97%;
        margin: 20px;
        padding: 0px;
    }
    main .services h2{
        font-size: 3rem;
        color: rgb(0, 0, 77);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
    main .services p{background-color: rgba(255, 0, 0, 0);
        width: 90%;
        margin-top: 10px;
        text-align: center;
    }
    main .services .container .card{background-color: #ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /*flex-direction: column;*/
        flex-wrap: wrap;
        width: 30%;
        max-width: 400px;
        height: 350px;
        margin: 10px 5px;
        padding: 10px 5px;
        position: relative;
        transition: 0.5s all ease-in-out;
        border-radius: 10px;
    }
    main .services .container .card:hover{
        transform: translateY(-10px);
    }
    main .services .container .card::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(13, 63, 26, 0.3), rgb(255, 128, 24));
        z-index: 2;
        opacity: 0;
        transition:  0.5s all;
        border-radius: 10px;
    }
    main .services .container .card:hover::before{
        opacity: 1;
    }
    main .services .container .card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
    }
    main  .services .container .card .info {background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        width: 70%;
        height: 100%;
        margin: 5px;
        padding: 20px 0;
        position: relative;
        color: #FFFFFF;
        z-index: 3;
        opacity: 0;
        transform: translateY(30px);
        transition: 0.5s all
    }
    main .services .container .card:hover .info{
        opacity: 1;
        transform: translateY(0);
    }
    main .services .container .card .info h3{
        color: var(--white);
        font-size: 2rem;
    }
    main .services .container .card .info p{
        margin: 20px 0;
        font-size: 1rem;   
        text-align: left;     
    }
    main .services .container .card .info a{
        background: #FFFFFF;
        padding: 0.5rem 3rem;
        color: var(--black);
        font-size: .9rem;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: .4s ease-in-out;
    }
    main .services .container .card .info a:hover{
        background: var(--green);
        color: var(--white);
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
    }

/*  **********  SECTION WORKS  *********  */
    main .works{background: rgba(0, 128, 0, 0);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin: auto;
        padding-top:70px;
    }
    main .works .works-txt{background-color: #2f2f2f00;
        width: 85%;
        text-align: center;
        color: white;
    }
    main .works .works-txt h2{
        font-size: 3rem;
        color: rgb(0, 0, 77);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
    main .works .works-txt p{background-color: rgba(255, 0, 0, 0);
        margin-top: 10px;
        color: #010977;
        text-align: center;
    }
    main .works .container{background-color: rgba(255, 255, 0, 0);
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 90%;
        margin: 20px 0;
    }
    main .works .container .box{background-color: rgb(255, 255, 255);
        max-width: 400px;
        width: 50%;
        margin: 10px 0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: -7px 5px 16px 1px rgba(56, 86, 122, 0.6);
    }
    main .works .container .box .works-box-txt{background-color: rgba(0, 72, 255, 0);
        margin-top: 20px;
    }
    main .works .container .box .works-box-txt p{background-color: rgba(255, 0, 0, 0);
        margin: 10px 0;
        color: grey;
    }
    main .works .container .box .works-box-txt a{background-color: rgba(255, 0, 0, 0);
        color: var(--orange);
    }
    #image-comparison-slider{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0.5rem;
        box-shadow: -7px 5px 16px 1px rgba(56, 86, 122, 0.6);
        cursor: col-resize;
    }
    #image-comparison-slider img{
        display: block;
        width: 100%;
        max-height: 50vh;
        object-fit: cover;
        pointer-events: none;
        user-select: none;
    }    
    #image-comparison-slider .img-wrapper{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        transition: 0.25s cubic-bezier(.03,.98,.52,.99);
    }
    #image-comparison-slider .img-wrapper img{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
    }
    #image-comparison-slider .label {
        position: absolute;
        top: 1rem;
        z-index: 3;
        color: #fff;
        background-color: rgba(255, 68, 0, 0.611);
        border-radius: 0.25rem;
        padding: 0.5rem 0.75rem;
        font-size: 0.85rem;
        text-align: center;
        letter-spacing: 1px;
        user-select: none;
        opacity: 0;
        transition: 0.25s cubic-bezier(.68,.26,.58,1.22);
        /*transition: 0.205s ease-in;*/
    }
    #image-comparison-slider:hover .label {
        opacity: 1;
    }
    #image-comparison-slider .label.label-before {
        left: 1rem;
    }
    #image-comparison-slider .label.label-after {
        right: 1rem;
        background-color: #0010eab0;
    }
    #image-comparison-slider .handle {
        position: absolute;
        top: 0;
        left: calc(50% - var(--image-comparison-slider-handle-width)/2);
        width: var(--image-comparison-slider-handle-width);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        z-index: 2;
        transition: 0.25s cubic-bezier(.03,.98,.52,.99);
    }
    #image-comparison-slider .handle-line {
        width: 3px;
        flex-grow: 1;
        background-color: #fff;
    }
    #image-comparison-slider .handle-circle {
        width: var(--image-comparison-slider-handle-width);
        height: var(--image-comparison-slider-handle-width);
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* background-color: rgba(0,0,0,0.5); */
    }
    
/*  **********  SECTION GALERY  *********  */
    main .galery{background: rgba(173, 255, 146, 0);
        display: flex;
        flex-direction: row-reverse;     
        margin: auto;
        padding-top:70px;
    }
    main .galery .galery-txt{background-color: rgb(0, 20, 122);
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 500px;
        padding: 50px;
        text-align: center;
        color: white;
    }
    main .galery .galery-txt:hover{
        background-color: #000657;
    }
    main .galery .galery-txt:hover{
        color: var(--blue);
    }
    main .galery h2{
        font-size: 3rem;
        color: rgb(255, 115, 0);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
    main .galery p{
        padding: 10px 0;
        color: rgb(255, 255, 255);
    }
    main .galery .container{background: rgb(52, 29, 255);
        display: flex;
    }    
    main .galery .container .card{background: rgba(29, 48, 255, 0);
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    main .galery .container .card img{background: rgba(29, 48, 255, 0);
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }    
    main .galery .container .card img:hover{
        transform: scale(1.1);
        transition: .2s ease-in-out;
        box-shadow: var(--elements-shadows);
        border-radius: 5px;
    }
/*  **********  SECTION REVIEWS  *********  */
    main .reviews{background: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
        height: 100vh;
        padding: 100px 5%;
    }
    main .reviews .reviews-txt{background-color: rgba(255, 255, 0, 0);
        margin-bottom: 20px;
        text-align: center;
    }
    main .reviews .reviews-txt h2{
        font-size: 3rem;
        color: var(--orange);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);    
    }
    main .reviews .reviews-txt p{
        margin: 20px 0;
    }
    main .reviews .container{background-color: rgba(4, 0, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1000px;
    }
    main .reviews .container .card{background-color: var(--white);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        width: 100%;
        max-width: 300px;
        height: 400px;
        margin: 5px;
        padding: 40px 30px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.302);
    }
    main .reviews .container .card img{
        width: 50%;
    }
    main .reviews .container .card p{
        margin: 20px 0;
        color: gray;
    }
    main .reviews .container .card h3{
        color: var(--orange);
    }
/*  **********  SECTION ABOUT US  *********  */
    main .about{
        background-image:
        linear-gradient(-45deg, rgba(255, 255, 255, 0) 10%, rgba(2, 2, 255, 0) 64%),
        url(../img/bghome_dsktp1.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin-top: 100px;
    }
    main .about .container{background-color: rgba(29, 32, 123, 0);
        background-image: url(../img/bgabout_dsktp4.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
        height: 100vh;
        padding: 0 5%;
    }    
    main .about .container h2{
        font-size: 3rem;
        color: var(--orange);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
    main .about .container .content {background-color: rgba(255, 255, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        height: 50%;
    }
    main .about .container .content .about-img img{background-color: rgba(255, 0, 251, 0);
        width: 100%;
    }
    main .about .container .content .about-txt{background-color: rgba(1, 9, 119, 0);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-flow: column;
        width: 70%;
        height: 90%;
        text-align: right;
        z-index: 1;
    }
    main .about .container .content .about-txt h1{
        font-size: 3rem;
        line-height: 1;        
        text-align: right;
        color: var(--white);
        text-shadow: var(--texts-shadows);
    }
    main .about .container .content .about-txt h2{
        font-size: 1.5rem; 
        line-height: 1;       
        text-align: right;
        color: var(--orange);
        text-shadow: var(--texts-shadows);
    }
    main .about .container .content .about-txt h3{
        font-size: 3rem; 
        line-height: 1;       
        text-align: right;
        color: var(--orange);
        text-shadow: var(--texts-shadows);
    }
    main .about .container .content .about-txt p{
        margin: 20px 0;
        color: var(--white);
    }
    main .about .container .content .about-txt a{
        background: var(--orange);
        padding: 0.5rem 3rem;
        color: var(--white);
        font-size: .9rem;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: .4s ease-in-out;
    }
    main .about .container .content .about-txt a:hover{
        background: var(--green);
        color: var(--white);
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(-3px);
    }    
/*  **********  SECTION CONTACTS  *********  */
    main .contacts{background: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding-top: 70px;
        text-align: left;
    }
    main .contacts h2{background-color: #28a71a00;
        width: 90%;
        font-size: 3rem;
        color: var(--orange);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }
    main .contacts .container{ background-color: #ffe10000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-bottom: 50px;
    }
    main .contacts .container .ctt-links{background-color: rgba(0, 255, 51, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 600px;
        border-radius: 10px;
    }
    main .contacts .container .ctt-links .box{background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 250px;
        padding: 50px 0; 
        text-align: start;
    }
    main .contacts .container .ctt-links .box i{
        color: var(--orange);
    }
    main .contacts .container .ctt-links .box a{
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--blue);
        line-height: 2;
    }
    main .contacts .container .ctt-links .follow{
        background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 20px 0;
    }
    main .contacts .container .ctt-links .follow i{
        background-color: var(--orange);
        margin-right: 10px;
        padding: 10px;
        font-size: 1.5rem;
        color: var(--white);
        border-radius: 10px;
    }
    main .contacts .container .ctt-links .follow i:hover{
        background-color: var(--white);
        color: var(--orange);
        transform: translateY(-3px);
        box-shadow: var(--elements-shadows);
    }
    main .contacts .container .form-section{
        background-color: rgb(239, 239, 239);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 600px;    
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.345);        
    }
    main .contacts .container .form-section form{background-color: rgba(0, 255, 21, 0);
        width: 100%;
        text-align: start;
    }
    main .contacts .container .form-section form .form-group{background-color: rgba(255, 0, 0, 0);
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    main .contacts .container .form-section form .form-group label{
        margin-bottom: 5px;
        font-size: 1rem;
        color: rgb(147, 147, 147);
    }
    main .contacts .container .form-section form .form-group input{
        height: 40px;
        padding: 10px;
        font-size: 1rem;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.255);
    }
    main .contacts .container .form-section form .form-group textarea{
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.255);
        margin-bottom: 20px;
        padding: 5px;
        font-size: 1rem;
    }
    main .contacts .container .form-section form button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 5px;
        font-size: 2rem;
        color: var(--white);
        background-color: var(--orange);
        border: none;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.451);
        cursor: pointer;
    }
    main .contacts .container .form-section form button:hover{
        background-color: rgb(255, 80, 16);    
    }
    main .contacts .iframe{background-color: #010977ef;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    main .contacts .iframe iframe{background-color: #01097700;
        display: block;
        width: 100%;
    }
/*  **********  SECTION FOOTER  *********  */
    footer{background-color: white;
        background-image: 
        linear-gradient(45deg, rgba(1, 9, 77, 0.897) 30%, rgba(1, 9, 77, 0.808) 70%),
        url(../img/bghome_dsktp2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 50px 0;
    }
    footer .container {background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        padding: 20px 0;
        text-align: left;
    }
    footer .container .box{background-color: rgba(0, 5, 140, 0);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        height: 200px;
        margin-top: 10px;
        margin: 5px;
        padding: 20px 0px;
        font-size: 1.1rem;
        border-top: var(--orange) solid 1px;
    }
    footer .container .box h3{
        font-size: 1.2rem;
        color: var(--white);
        margin-bottom: 20px;
    }
    footer .container .box a{
        font-size: 1rem;
        line-height: 2;
        font-weight: 5;
        color: var(--white);
    }
    footer .container .box i{
        margin: 0 10px;
        color: var(--orange);
    }    
    footer .credits{background: rgba(172, 255, 47, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 90%;
        height: 100px;
        margin-top: 20px;
        margin: auto;
        padding: 20px 0;
        font-size: 1rem;
        color: var(--white);
        text-align: center;
        border-top: var(--white) solid 1px;
    }
    footer .credits .copyright{background-color: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        height: 50px;
    }
    footer .credits h3{
        font-size: .8rem;
        font-weight: 900;
        color: var(--orange);
    }
    footer .credits p{
        margin: 5px;
        font-size: .8rem;
        line-height: 1;
    }
    footer .credits .dev{background-color: rgba(112, 112, 112, 0);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        height: 50px;
        margin: 5px 0;
        padding: 5px;
        font-size: 1rem;
    }
    footer .credits .dev p{
        margin: 5px;
        font-size: .8rem;
    }
    footer .credits .dev a{
        font-size: .8rem;
        color: var(--orange);
    }
}

@media screen and (min-width: 1366px) {

    html body{
        background-color: rgb(255, 0, 0);    
    }
    html body h1{
        font-family: "Shrikhand", sans-serif;
        color: var(--white);
        font-weight: 100;
        font-style: normal;
        line-height: .9;
    }
    header{
        background-color: rgba(0, 5, 49, 0);
        font-size: 1.2rem;
    }
    main {
        background-color: rgb(255, 255, 255);    
    }
    main .home .container .txt h1 span{
        font-family: "Shrikhand", sans-serif;
        font-weight: 100;
        font-style: normal;
        line-height: .9;
    }
    footer{
        background-color: rgb(207, 207, 207);        
        padding-top: 100px;
    }
    footer .container{background-color:rgba(0, 0, 0, 0);

    }
    footer .container .box{
        background-color: rgba(255, 0, 0, 0);
        max-width: 280px;
    }
    footer .container .box a{
        font-size: .7rem;
    }
    footer .container .credits .copyright{
        font-size: 2rem;
    }
    
}