@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        line-height: 1;
        scroll-behavior: smooth;
        transition: all .3s ease;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
body{
    background: rgb(255, 3, 3);
}
header{
    background: #00000000; 
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: auto;
    padding: 0 5%;
}

header nav{
    position: fixed;
    background: #0400dafa;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    min-width: 50%;
    height: 100vh;
    top: 0;
    right: -110%;
    padding: 80px 20px;
    transition:  0.5s;
    transition-property: right;
}
header nav a {
    display: block;
    font-size: 2rem;
    margin: 5px;
    padding: 0 15px;
    color: orangered;
    font-weight: 500;
}
header nav a:hover {
    color: #ffffff;
}
header .button {
    display: none;
}
header nav .btn{
    display: block;
    font-size: 2rem;
    color: #ffffff;
}
header .logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    height: 60px;    
}
header .logo a{
    font-size: 1.5rem;
    color: white;
}
header .logo a img{
    display: none;
    max-width: 70%;
    margin: 30px 0;
    color: white;
}
/*  ***** Menu Sticky *****  */
header.sticky{
    height: 60px;
    background: #000c76;
    box-shadow: 0px 5px 5px 0px #00000077;
    border-bottom: orangered solid 5px;
    transition: all .2s ease;
}
header.sticky .btn{
    color: #ffffff;
}
header .menu.active{
    right: 0;
}
header .menu .close-btn{
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 83%;
    margin: 21px 0px 0px 0px;
}

/*  **********  MAIN  *********  */

main{background: rgb(103, 103, 103);
}
/*  **********  SECTION HOME(Topo)  *********  */
main .home{background: greenyellow;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION SERVICES  *********  */
main .services{background: yellow;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION WORKS  *********  */
main .works{background: blue;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION GALERY  *********  */
main .galery{background: whitesmoke;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION REVIEWS  *********  */
main .reviews{background: green;
    height: 100vh;
    padding-top:100px;

}
/*  **********  SECTION ABOUT US  *********  */
main .about{background: yellow;
    height: 100vh;
    padding-top:100px;

}
/*  **********  SECTION CONTACTS  *********  */
main .contacts{background: blue;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION FOOTER  *********  */
footer{background: white;
    text-align: center;
    color: black;
}
