@media screen and (min-width: 0px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        line-height: 1;
        scroll-behavior: smooth;
        transition: all .3s ease;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
body{
    background: rgb(255, 3, 3);
}
header{background: rgb(205, 205, 205);
    width: 100%;
    height: 80px;
    position: fixed;
}
main{background: rgb(103, 103, 103);
}
/*  **********  SECTION HOME(Topo)  *********  */
main .home{background: greenyellow;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION SERVICES  *********  */
main .services{background: yellow;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION WORKS  *********  */
main .works{background: blue;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION GALERY  *********  */
main .galery{background: whitesmoke;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION REVIEWS  *********  */
main .reviews{background: green;
    height: 100vh;
    padding-top:100px;

}
/*  **********  SECTION ABOUT US  *********  */
main .about{background: yellow;
    height: 100vh;
    padding-top:100px;

}
/*  **********  SECTION CONTACTS  *********  */
main .contacts{background: blue;
    height: 100vh;
    padding-top:100px;
}
/*  **********  SECTION FOOTER  *********  */
footer{background: white;
    text-align: center;
    color: black;
}
