@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        line-height: 1;
        scroll-behavior: smooth;
        transition: all .5s ease;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    ::-webkit-scrollbar{
        width: 5px;
    }
    ::-webkit-scrollbar-track{
        background: #bfbfbf;
    }
    ::-webkit-scrollbar-track:hover{
        background: #ffffff85;
    }
    ::-webkit-scrollbar-thumb{
        background: rgb(4, 0, 255);
        border-radius: 20px;
    }
    :root{
    /*  ***** Colors *****  */    
        --blue: blue;
        --orange: orangered;
        --green: #29A71A;
        --black: black;
        --white: white;  
    /*  ***** Fonts *****  */    
        --fontam6: clamp(1.6rem, 1.5rem + 3vw, 8rem);
        --fontam5: clamp(1.5rem, 1.1rem + 2.3vw, 4.1rem);
        --fontam4: clamp(1.3rem, 1rem + 2vw, 4rem);
        --fontam3: clamp(1.3rem, 1.25rem + 1.5vw, 3rem);
        --fontam2: clamp(1.2rem, 1.3rem + 1.3vw, 2rem);
        --fontam1: clamp(1rem, 1rem + 1vw, 1.1rem);
    /*  ***** Shadows *****  */    
        --elements-shadows: 5px 5px 5px rgba(0, 0, 0, 0.7);
        --texts-shadows: 5px 10px 5px rgba(0, 0, 0, 0.7);
    }
    
    body{background: rgb(231, 231, 231);
    }

    /*  ***** HEADER *****  */
    header{background: #d7000000; 
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        margin: auto;
        padding: 0 5%;
    }
    header nav{background: #000831a7;
        backdrop-filter: blur(10px);
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 100%;
        height: 100vh;
        top: 0;
        right: -110%;
        padding: 80px 0px;
        transition:  0.9s;
        transition-property: right;
    }
    header nav a {background: rgba(0, 0, 0, 0);
        font-size: 2rem;
        margin: 20px 0;
        padding: 10px;
        color: orangered;
        font-weight: 500;
        text-shadow: 5px 5px 5px rgb(0, 0, 0);
        border-bottom: rgb(255, 255, 255) solid 1px;
        box-shadow: 5px 5px 5px #00000071;
    }
    header nav a:hover {
        color: #ffffff;
    }
    header .button {
        display: none;
    }
    header .logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 70%;
        height: 60px;    
    }
    header .logo a{
        font-size: 1.1rem;
        color: rgb(255, 255, 255);
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    }
    header .logo a img{
        display: none;
        max-width: 70%;
        margin: 30px 0;
        color: rgb(141, 70, 70);
    }
    header .btn{
        display: block;
        font-size: 1.5rem;
        color: white;
    }
    /*  ***** Menu Sticky *****  */
    header.sticky{
        height: 60px;
        background: #000c77;
        box-shadow: 0px 5px 5px 0px #00000063;
        border-bottom: orangered solid 5px;
        transition: all .2s ease;
    }
    header.sticky .logo a {
        color: white;
    }
    header.sticky .menu-btn{
        color: rgb(255, 255, 255);
        font-size: 1rem;
    }
    header .menu.active{
        right: 0;
    }
    header .menu .menu-btn{
        display: none;
    }
    header .menu .close-btn{
        color: #ffffff;
        position: absolute;
        top: 0;
        left: 85%;
        margin: 10% 0px 0px 0px;
    }

    /*  **********  MAIN  *********  */

    main{background: rgba(4, 0, 255, 0);
    }
    /*  **********  SECTION HOME(Topo)  *********  */
    main .home{
        background: rgb(255,128,0);
        background: linear-gradient(-45deg, orangered 16%, blue 64%);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
        padding: 0 5%;
        padding-top:100px;
        height: 100vh;
    }
    main .home .container img{
        width: 30%;
    }
    main .home .container .txt{background: rgba(255, 0, 0, 0);
        padding: 15px 0;
        color: white;
    }
    main .home .container .txt h1{
        font-size: 2.5rem;
        text-shadow: var(--texts-shadows);
    }
    main .home .container .txt h1 span{
        color: orangered;
    }

    main .home .container .txt h2{
        font-size: 1.5rem;
        margin: 10px 0;
        text-shadow: var(--texts-shadows);

    }
    main .home .container .txt p{
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.5;
        text-shadow: var(--texts-shadows);

    }
    main .home .container .btn-talk{background: rgba(0, 0, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        margin-top: 5px;
        text-align: center;

    }
    main .home .container .btn-talk a{ background: orangered;
        width: 100%;
        padding: 20px 0;
        border-radius: 7px;
        font-size: 1.3rem;
        font-weight: 500;
        color: white;
        box-shadow: var(--elements-shadows);
    }
    main .home .container .btn-send{background: rgba(0, 0, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        margin-top: 5px;
        text-align: center;
    }
    main .home .container .btn-send a{ background: orangered;
        width: 100%;
        padding: 20px 0;
        border-radius: 7px;
        font-size: 1.3rem;
        font-weight: 500;
        color: white;
        box-shadow: var(--elements-shadows);
    }
    /*  **********  SECTION SERVICES  *********  */
    main .services{background: yellow;
        height: 100vh;
        padding-top:100px;
    }
    /*  **********  SECTION WORKS  *********  */
    main .works{background: blue;
        height: 100vh;
        padding-top:100px;
    }
    /*  **********  SECTION GALERY  *********  */
    main .galery{background: whitesmoke;
        height: 100vh;
        padding-top:100px;
    }
    /*  **********  SECTION REVIEWS  *********  */
    main .reviews{background: green;
        height: 100vh;
        padding-top:100px;

    }
    /*  **********  SECTION ABOUT US  *********  */
    main .about{background: yellow;
        height: 100vh;
        padding-top:100px;

    }
    /*  **********  SECTION CONTACTS  *********  */
    main .contacts{background: blue;
        height: 100vh;
        padding-top:100px;
    }
    /*  **********  SECTION FOOTER  *********  */
    footer{background: white;
        text-align: center;
        color: black;
    }
}
